# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# Downloaded Files
downloads/
downloades/

# YouTube Cookies
cookies.txt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db